<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qst.mapper.TbMusiclistMapper">
    <resultMap id="BaseResultMap" type="cn.qst.pojo.TbMusiclist">
        <id column="mlid" property="mlid" jdbcType="INTEGER"/>
        <result column="createdate" property="createdate" jdbcType="DATE"/>
        <result column="playsum" property="playsum" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="musicsum" property="musicsum" jdbcType="INTEGER"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    mlid, createdate, playsum, name, musicsum, image, uid
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.qst.pojo.TbMusiclistExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from tb_musiclist
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_musiclist
        where mlid = #{mlid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_musiclist
    where mlid = #{mlid,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="cn.qst.pojo.TbMusiclistExample">
        delete from tb_musiclist
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="cn.qst.pojo.TbMusiclist">
    insert into tb_musiclist (mlid, createdate, playsum,
      name, musicsum, image,
      uid)
    values (#{mlid,jdbcType=INTEGER}, #{createdate,jdbcType=DATE}, #{playsum,jdbcType=INTEGER},
      #{name,jdbcType=VARCHAR}, #{musicsum,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR},
      #{uid,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="cn.qst.pojo.TbMusiclist">
        insert into tb_musiclist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mlid != null">
                mlid,
            </if>
            <if test="createdate != null">
                createdate,
            </if>
            <if test="playsum != null">
                playsum,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="musicsum != null">
                musicsum,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="uid != null">
                uid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mlid != null">
                #{mlid,jdbcType=INTEGER},
            </if>
            <if test="createdate != null">
                #{createdate,jdbcType=DATE},
            </if>
            <if test="playsum != null">
                #{playsum,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="musicsum != null">
                #{musicsum,jdbcType=INTEGER},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="cn.qst.pojo.TbMusiclistExample" resultType="java.lang.Integer">
        select count(*) from tb_musiclist
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update tb_musiclist
        <set>
            <if test="record.mlid != null">
                mlid = #{record.mlid,jdbcType=INTEGER},
            </if>
            <if test="record.createdate != null">
                createdate = #{record.createdate,jdbcType=DATE},
            </if>
            <if test="record.playsum != null">
                playsum = #{record.playsum,jdbcType=INTEGER},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.musicsum != null">
                musicsum = #{record.musicsum,jdbcType=INTEGER},
            </if>
            <if test="record.image != null">
                image = #{record.image,jdbcType=VARCHAR},
            </if>
            <if test="record.uid != null">
                uid = #{record.uid,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update tb_musiclist
        set mlid = #{record.mlid,jdbcType=INTEGER},
        createdate = #{record.createdate,jdbcType=DATE},
        playsum = #{record.playsum,jdbcType=INTEGER},
        name = #{record.name,jdbcType=VARCHAR},
        musicsum = #{record.musicsum,jdbcType=INTEGER},
        image = #{record.image,jdbcType=VARCHAR},
        uid = #{record.uid,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="cn.qst.pojo.TbMusiclist">
        update tb_musiclist
        <set>
            <if test="createdate != null">
                createdate = #{createdate,jdbcType=DATE},
            </if>
            <if test="playsum != null">
                playsum = #{playsum,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="musicsum != null">
                musicsum = #{musicsum,jdbcType=INTEGER},
            </if>
            <if test="image != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=VARCHAR},
            </if>
        </set>
        where mlid = #{mlid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.qst.pojo.TbMusiclist">
    update tb_musiclist
    set createdate = #{createdate,jdbcType=DATE},
      playsum = #{playsum,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      musicsum = #{musicsum,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR}
    where mlid = #{mlid,jdbcType=INTEGER}
  </update>
</mapper>