<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qst.mapper.TbMusic_MusicListMapper">
	<insert id="save">
		INSERT INTO `tb_music_musiclist` SET `mlid`=#{0},`mid`=#{1}
	</insert>
	
	<delete id="delete">
		DELETE FROM `tb_music_musiclist` WHERE `mlid`=#{0} AND `mid`=#{1}
	</delete>
	
	<select id="countByMlidAndMid" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM `tb_music_musiclist` WHERE `mlid`=#{0} AND `mid`=#{1}
	</select>
	
</mapper>